<h1>Display your Pirate here</h1>
<div class="pirate">
  <h3> Pirate Name: <%= @pirate.name %></h3><br>
  <h4> Pirate Weight: <%= @pirate.weight %></h4>
  <h5> Pirate Height: <%= @pirate.height %></h5>
</div><br>

<h2>Display your first ship here</h2>
<div class="ship">
  <h3> Ship Name: <%= @ship.name %></h3><br>
  <h4> Ship Type: <%= @ship.type %></h4>
  <h5> Ship Booty: <%= @ship.booty %></h5>
</div><br>


<h2>Display your second ship here</h2>
